# Site wide configuration
# =======================

# title: 張梨美
locale: en_GB
# description: by 張梨美
github: bylimei
url: http://bylimei.net

# For local testing with
#  bundle exec jekyll serve  --host 0.0.0.0
# url: http://192.168.1.9:4000

search: false
share: false


# Jekyll configuration
permalink:   /:categories/:title/
markdown:    kramdown
highlighter: rouge
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..2
  use_coderay: false

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md", "vendor"]


# Site owner
owner:
  name: Li-Mei Chang

