<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=10468511; 
var sc_invisible=1; 
var sc_security="e28d4c06"; 
var sc_first_party_cookie=0; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="create counter"
href="http://statcounter.com/free-hit-counter/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/10468511/0/e28d4c06/1/"
alt="create counter"></a></div></noscript>
<!-- End of StatCounter Code -->